<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-12 d-flex justify-content-center">
            <p>Hola</p>
        </div>
        <div class="col-md-9 col-sm-12 d-flex">
            <div class="container">
                <h3>Profile data</h3>
                <p *ngIf="loadingData">Loading data..</p>
                <table *ngIf="this.user" class="table w-75 p-3">
                    <tbody class="w-100 p-3">
                        <tr>
                            <td>Email</td>
                            <td>{{this.user.email}}</td>
                        </tr>
                        <tr>
                            <td>First Name</td>
                            <td>{{this.user.firstName}}</td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td>{{this.user.lastName}}</td>
                        </tr>
                        <tr>
                            <td>Day of Birthday</td>
                            <td>{{this.user.dof}}</td>
                        </tr>
                    </tbody>
                </table>
                <ng-template #content let-modal let-form="formUser">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cross')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="userForm" (ngSubmit)="updateProfile()">
                            <div class="form-group">
                                <input formControlName="firstName" type="text" class="form-control"
                                    placeholder="First Name*" required>
                            </div>
                            <div class="form-group">
                                <input formControlName="lastName" type="text" class="form-control"
                                    placeholder="Last Name*" required>
                            </div>
                            <div class="form-group">
                                <label for="dof">Date of birth:</label>
                                <input formControlName="dof" type="date" class="form-control">
                            </div>
                            <hr>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button [disabled]="!userForm.valid" type="button" class="btn btn-outline-dark"
                            (click)="modal.close('save')">Save</button>
                    </div>
                </ng-template>
                <button *ngIf="user" class="btn btn-sm btn-outline-primary" (click)="openEditor(content)">Edit
                    Profile</button>
                <hr>

                <app-skills *ngIf="user" [skills]="user.skills">Loading skills..</app-skills>
            </div>
        </div>
    </div>
</div>